@model IEnumerable<MvcProject.Models.Category>
@{
    ViewBag.Title = "AdministratorPage";
    Layout = "_Layout";
}


<h1>Administrator</h1>

<p>Please select a category </p>

<p>
    <select name="category" id="categories" onchange="SelectedCategoryForAdmin()">

        @foreach (var category in Model)
        {
            if (category.CategoryId == ViewBag.Id)
            {
                <option value="@category.CategoryId" selected>@category.Name</option>
            }
            else
            {
                <option value="@category.CategoryId">@category.Name </option>
            }
        }
    </select>
</p>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>
                <th>Portrait</th>
                <th>Name</th>
                <th>Age</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>

        @foreach (var animal in ViewBag.Animal)
        {
            <tbody>
                <tr>
                    <td><img id="img" src="~/Images/@animal.PictureName"></td>
                    <td value>@animal.Name</td>
                    <td value>@animal.Age</td>
                    <td class="check" value>@animal.Description</td>
                    <td>
                        <button class="button-84" role="button"> <a asp-action="ShowEditAnimalPage" asp-route-Id="@animal.AnimalId">Edit</a></button> <br /><br />
                        <button class="button-84" role="button"> <a asp-action="DeleteAnimal" asp-route-id="@animal.AnimalId">Delete</a></button>
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>
<div>
    <button class="button-84" role="button"><a asp-controller="Administrator" asp-action="ShowAddNewAnimalPage">Add</a></button>
</div>

